@model ProductModel
<h1>Product Details Page</h1>
<h2>Product name: @Model.ProductName</h2>
<h2>Product price: @Model.ProductPrice</h2>
<h2>Description: @Model.Description</h2>
<h2>Created: @Model.Created</h2>
<h2>Modified: @Model.Modified</h2>